:root {
  --color-highlight: #ff57b2;
  --color-heading: #f8f8f8;
  --color-background: #1a1d23;
  --color-info: #bbbbbb;
  --color-body: #d7d7d7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; // 15px
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; // 14px
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-body);
}

body,
input,
textarea,
select,
button {
  font-weight: 400;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

a,
button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-weight: 700;
}
