.posts {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  > a {
    display: block;

    > h2 {
      font-size: 1.75rem;
      transition: color 0.2s linear;
    }

    &:hover > h2 {
      color: var(--color-highlight);
    }

    > p {
      margin-top: 0.5rem;
      font-size: 1.125rem;
    }
  }

  > button {
    margin-top: 1rem;
    color: var(--color-highlight);
    font-size: 1.125rem;
    align-self: flex-start;
  }
}
