.banner {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);

  > img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
}

.article {
  margin-top: 5rem;

  > h1 {
    font-size: 3rem;
    line-height: 1;
  }
}

.content {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  > div {
    > h2 {
      font-size: 2.125rem;
      line-height: 1.25;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.125rem;
      line-height: 1.625;
    }
  }
}

.loading {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 4rem;
  font-weight: 600;
}
