.header {
  background-color: var(--color-background);
  height: 105px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  z-index: 100;
}

.logoLink {
  display: inline-block;
}
